# PROFILE: dev
# NUXT_AUTH_SERVICE_BASE_URL=http://localhost:8000
# NUXT_PUBLIC_API_BASE_URL=/api
# NUXT_PUBLIC_SITE_URL=http://localhost:3000

# PROFILE: docker-network
# NUXT_AUTH_SERVICE_BASE_URL=http://auth_service:8000
# NUXT_PUBLIC_API_BASE_URL=/api
# NUXT_PUBLIC_SITE_URL=http://localhost:3000
